<% include ../layouts/header %>

<div class="container yelpcamp-form">
  <h1>New Comment to <%= campground.name %></h1>
  <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
    <div class="form-group">
      <label for="authorSrc">Author</label>
      <input id="authorSrc" type="text" class="form-control" name="comment[author]" placeholder="text">
    </div>
    <div class="form-group">
      <label for="contentSrc">Content</label>
      <input id="contentSrc" type="text" class="form-control" name="comment[content]" placeholder="text">
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary btn-block" value="Submit new comment">
    </div>
  </form>
  <a href="/campgrounds/<%= campground._id %>">Go Back</a>
</div>

<% include ../layouts/footer %>
