<% include layouts/header %>


<div id="campgroundViewer" class="container">
  <h1>Campgrounds</h1>
  <div class="row">
    <% campgrounds.forEach(function(campground){ %>
      <div class="col-lg-4 col-md-6 col-12">
	<h4><%= campground.name %></h4>
	<img class="rounded img-thumbnail" alt="campground" src="<%= campground.image %>">
      </div>
    <% }); %>
  </div>
  <a class="btn btn-secondary" href="/campgrounds/new">Add New Campground</a>
</div>


<% include layouts/footer %>
