<% include layouts/header %>
<div class="jumbotron">
    <h2>YelpCamp</h2>
    <p class="lead">Welcome to the Amazing YelpCamp Web App</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/campgrounds" role="button">View Campgrounds</a>
    </p>
</div>

<% include layouts/footer %>
