<% include layouts/header %>
<div class="container">
  <div class="jumbotron">
    <h1>YelpCamp</h1>
    <p class="lead">Welcome to the Amazing YelpCamp Web App</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/campgrounds" role="button">View Campgrounds</a>
    </p>
  </div>
</div>

<div class="container">
  <a href="/campgrounds">View the Campgrounds</a>
</div>

<% include layouts/footer %>
