<% include layouts/header %>

<h1><%= campground.name %></h1>

<div id="showPage" class="container">
  <img class="img-thumbnail" src="<%= campground.image %>" alt="campground">
  <p><%= campground.desc %></p>
</div>

<% include layouts/footer %>
