<% include ../layouts/header %>

<h1>Campgrounds</h1>
<div id="campgroundViewer" class="container">
  <div class="row">
    <% campgrounds.forEach(function(campground){ %>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card">
          <img class="card-img-top" alt="campground-img" src="<%= campground.image %>">
          <div class="card-body">
	    <h5 class="card-title">
	      <%= campground.name %>
	      <a class="btn btn-primary justify-content-end" href="/campgrounds/<%= campground._id %>">View More</a>
	    </h5>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
  <a class="btn btn-secondary" href="/campgrounds/new">Add New Campground</a>
</div>


<% include ../layouts/footer %>
