body {
  padding-top: 80px;
}

h1 {
  text-align: center;
}

.yelpcamp-form {
  margin: 40px auto;
  width: 70%; 
  text-align: center;
}

.yelpcamp-userform {
  margin: 40px auto;
  /*width: 30%;*/
  text-align: center;
}

.delete-form {
  display: inline;
}

.alert {
  text-align: center;
}

#map {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 400px;
  width: 100%;
}

#campgrounds-idx-cr {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.bt-create-com{
  margin-top: 25px;
}

.btn {
  outline: 0;
  box-shadow: none !important;
}

#navbar-usrname {
  display: inline;
  padding: 0;
}

#campgroundViewer .card {
  margin-bottom: 10px;
}
