body {
  padding-top: 80px;
}

h1 {
  text-align: center;
}

.yelpcamp-form {
  width: 40%;
  margin: 40px auto;
  text-align: center;
}

.yelpcamp-userform {
  width: 30%;
  margin: 40px auto;
  text-align: center;
}

.delete-form {
  display: inline;
}

#map {
  margin-top: 5px;
  height: 400px;
  width: 100%;
}

#campgrounds-idx-cr {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}
