html, body {
 color: white;
 padding-top: 40px;
 height: 100%;
}

body {
  background-image: url("/backgroundForest.jpeg");
  background-size: cover;
  height: inherit;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  text-align: center;
  background-color: rgba(20, 20, 20, 0.7);
}

#campgroundViewer img {
  height: 300px;
  width: auto;
}

#campgroundViewer {
  padding-top: 30px;
  text-align: center;
}

.img-thumbnail {
  padding: 1px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}

.jumbotron {
  color: black;
  border-radius: 15px;
  background-image: url("/sunset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.8);
  width: 80%;
  height: 60%;
  margin: auto;
}

.caption {
  margin-top: 10px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}



label {
  font-weight: bold;
}

#showPage img {
  width: 50%;
  display: inline-block;
}

#showPage p {
  margin-left: 30px;
  vertical-align: top;
  display: inline-block;
  height: 100px;
  padding: 2%;
  background: url("https://cdn.pixabay.com/photo/2016/08/23/20/00/trunk-1615374__340.jpg");
  color: rgb(20, 18, 5);
  font-size: 18px;
  font-weight: bold;
}

#campgroundDesc {
  height: 100px;
}

.jumbotron h1 {
  text-align: left;
  background: none;
}
.navbar {
  color: black;
}

