.camgrounds img {
  width: 400px;
  max-height: auto;
}

.campgrounds {
  text-align: center;
}

.img-thumbnail {
  padding: 1px;
}

.jumbotron {
  border-radius: 12px;
  background-image: url("/sunset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

html, body {
 padding-top: 30px;
 margin: 0;
 height: 100%;
}

body {
  background-image: url("/backgroundForest.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  /*color: white;*/
  height: inherit;
  font-family: 'Quicksand', sans-serif;
}
